!!! 5
%head
  %meta{:charset => "utf-8"}/
  %title
  %meta{:content => "Mashup programming exercise.", :name => "description"}/
  %meta{:content => "Ryan Porter", :name => "author"}/
 
  %link{:href => "/css/960.css?v=1", :rel => "stylesheet"}/
  %link{:href => "/css/style.css?v=1", :rel => "stylesheet"}/

  %script{:src => "/js/libs/modernizr-1.6.min.js"}

%body
  #container.container_12
    %header.grid_12
    #main.grid_12
      = yield
    %footer.grid_12

  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}

  %script{:src => "/js/script.js"}
